{% extends "base.html" %}

{% block title %}Detalle de pedido{% endblock %}

{% block content %}
<h1>Detalle de pedido #{{ order.id }}</h1>

<a href="{% url 'order_list' %}">⬅️ Volver a la lista de pedidos</a>

<p>Cliente: {{ order.client }}</p>
<p>Descripción: {{ order.description }}</p>
<p>Tipo de producto: {{ order.get_product_type_display }}</p>
<p>Estado: {{ order.get_status_display }}</p>
<p>Fecha de pedido: {{ order.order_date }}</p>
<p>Fecha de entrega aproximada: {{ order.estimated_delivery_date }}</p>
<p>Precio acordado: {{ order.agreed_price }}</p>
<p>Saldo pendiente: {{ order.pending_balance }}</p>
<p>Total pagado: {{ order.total_paid }}</p>

<hr>
<h3>Información del pagos</h3>
<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Cantidad</th>
        <th>Método</th>
        <th>Fecha de Pago</th>
    </tr>

    {% for payment in payments %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.get_method_display }}</td>
        <td>{{ payment.payment_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No hay pagos registrados para este pedido</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}